<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Oak for Reddit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>136FB3D429C200FD00C3FCF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>136FB3E429C2010400C3FCF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>136FB3EE29C2010400C3FCF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
